
<nav id="nav-bar">
	<ul class="nav nav-tabs">
  		<li role="presentation" class="active" id="find-movies"><a href="#">Find Movies</a></li>
  		<li role="presentation" id="search-movies"><a href="#">Search My Movies</a></li>
  		<li role="presentation" id="logout"><a href="#">Logout</a></li>
	</ul>
</nav>
<div class="main-content">
	<h4>Welcome to Movie History! If you're a first time user find some movies to add to get started! If you're a returning user you can add to your account or search your current collection!
</div>
