<!--Movie Poster with buttons and stars-->
<img src="{{poster}}">
<!--Add Button-->
<div><button type="button" class="btn btn-default add-button">Add</button></div>
 <!--Stars Rating-->
<div class="star-container">
  <span class="star-rating">
    <input type="radio" name="rating" value="1"><i></i>
    <input type="radio" name="rating" value="2"><i></i>
    <input type="radio" name="rating" value="3"><i></i>
    <input type="radio" name="rating" value="4"><i></i>
    <input type="radio" name="rating" value="5"><i></i>
  </span>
</div>
