<div class="modal fade" id="myModal3">
	<div class="modal-header">
	<h1>Search Your Movies</h1>
	</div>
	<div class="modal-body">
		<input type="search" id="inputTitle">
		<button type="button" id="searchMovie">search</button>

	</div>
</div>