<div class="modal fade" id="myModal">
	<div class="modal-header">
	<h1>Movie History</h1>
	</div>
	<div class="modal-body">
		<div class="container-fluid splashPage">
			<div class="row">
				<div class="col-md-12">
					<input type="email" name="email" id="email" placeholder="Enter Email Address">
				</div>
				<div class="col-md-12">
					<input type="password" name="password" id="password" placeholder="Enter Your Password">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-xs-6">
			<button type="button" class="btn btn-info btn-sm" id="register">Register</button>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-info btn-sm" id="signIn">Sign In</button>
		</div>
  	</div>
</div>



