
<div class="container-fluid splashPage">
	<div class="row">
		<div class="col-md-12">
			<h1>Movie History</h1>
		</div>
		<div class="col-md-12">
			<input type="email" name="email" class="form-control" id="email" placeholder="Enter Email Address">
		</div>
		<div class="col-md-12">
			<input type="password" name="password" class="form-control" id="password" placeholder="Enter Your Password">
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-danger btn-sm" id="register">Register</button>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-danger btn-sm" id="signIn">Sign In</button>
		</div>
  	</div>
</div>



	